@import "tailwindcss";

@theme {
  --color-primary: #1e88e5;        
  --color-primary-dark: #0d47a1;    
  --color-accent: #fdee00;         

  --color-bg-main: #eaf4ff;         
  --color-bg-card: #ffffff;        
  --color-bg-header: #0d47a1;
  --color-bg-footer: #0d47a1;
  --color-bg-cart: #ffffff;

  --color-text-main: #0f1b2d;
  --color-text-secondary: #5a6b84;
  --color-border: #e3ecff;
  --color-bg-input: #ffffff;

  --color-primary-darkmode: #60a5fa;
  --color-primary-darker-darkmode: #3b82f6;
  --color-accent-darkmode: #fcd34d;

  --color-bg-main-darkmode: #0f172a;
  --color-bg-card-darkmode: #1e293b;
  --color-bg-footer-darkmode: #1e293b;
  --color-text-main-darkmode: #e2e8f0;
  --color-text-secondary-darkmode: #94a3b8;
  --color-border-darkmode: #334155;
  --color-bg-input-darkmode: #1e293b;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@utility animate-float {
  animation: float 6s ease-in-out infinite;
}

@layer base {
  html, body {
    @apply bg-[--color-bg-main] text-[--color-text-main]
           font-sans transition-colors duration-300;
  }

  html[data-theme="dark"] {
    --color-primary: var(--color-primary-darkmode);
    --color-primary-dark: var(--color-primary-darker-darkmode);
    --color-accent: var(--color-accent-darkmode);
    --color-bg-main: var(--color-bg-main-darkmode);
    --color-bg-card: var(--color-bg-card-darkmode);
    --color-bg-footer: var(--color-bg-footer-darkmode);
    --color-text-main: var(--color-text-main-darkmode);
    --color-text-secondary: var(--color-text-secondary-darkmode);
    --color-border: var(--color-border-darkmode);
    --color-bg-input: var(--color-bg-input-darkmode);
  }
}
