@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-indigo-600: #4f46e5;
  --color-accent: #fde047;

  --bg-main: #f9fafb;
  --bg-card: #ffffff;
  --bg-header: #ffffff;
  --bg-footer: #1e3a8a;
  --bg-cart: #ffffff;

  --text-main: #111827;
  --text-secondary: #4b5563;
  --border-color: #e5e7eb;
  --bg-input: #ffffff;
}

html[data-theme="dark"] {
  --color-primary: #60a5fa;
  --color-primary-dark: #3b82f6;
  --color-indigo-600: #6366f1;
  --color-accent: #fcd34d;

  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-header: #1e293b;
  --bg-footer: #1e293b;
  --bg-cart: #1e293b;

  --text-main: #e2e8f0;
  --text-secondary: #94a3b8;
  --border-color: #334155;
  --bg-input: #1e293b;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@utility animate-float {
  animation: float 6s ease-in-out infinite;
}

html,
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  transition: background-color 0.3s, color 0.3s;
}
